{% extends "base.html.twig" %}


{% block body %}
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="2500">

        <div class="personnage">
            <img src="{{ asset('images/personnage.png') }}" alt="personne"/>
        </div>


        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="{{ asset('images/slide.png') }}" alt="slide1">
                <div class="carousel-caption">
                    <h2>Venez défier nos meilleurs joueurs</h2>
                </div>
            </div>
            <div class="item">
                <img src="{{ asset('images/slide2.png') }}" alt="slide2">
                <div class="carousel-caption">
                    <h2>Ils vous attendent</h2>
                </div>
            </div>
        </div>

    </div>

    <div class="container">

    <div class="row">


        <a href="/app_dev.php/select">
        <button type="button" class="btn btn-quizz btn-lg btn-block">JOUER</button>
        </a>
    </div>



        <table class="table">
            <thead>
            <tr>
                <th colspan="3">TOP 10</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>John</td>
                <td>1 500 125 120</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Mary</td>
                <td>1 500 125 120</td>
            </tr>
            <tr>
                <td>3</td>
                <td>July</td>
                <td>1 500 125 120</td>
            </tr>
            <tr>
                <td>4</td>
                <td>July</td>
                <td>1 500 125 120</td>
            </tr>
            <tr>
                <td>5</td>
                <td>July</td>
                <td>1 500 125 120</td>
            </tr>
            <tr>
                <td>6</td>
                <td>July</td>
                <td>1 500 125 120</td>
            </tr>
            <tr>
                <td>7</td>
                <td>July</td>
                <td>1 500 125 120</td>
            </tr>

            <tr>
                <td>8</td>
                <td>July</td>
                <td>1 500 125 120</td>
            </tr>
            <tr>
                <td>8</td>
                <td>July</td>
                <td>1 500 125 120</td>
            </tr>
            <tr>
                <td>8</td>
                <td>July</td>
                <td>1 500 125 120</td>
            </tr>
            <tr>
                <td>8</td>
                <td>July</td>
                <td>1 500 125 120</td>
            </tr>
            <tr>
                <td>8</td>
                <td>July</td>
                <td>1 500 125 120</td>
            </tr>
            <tr>
                <td>8</td>
                <td>July</td>
                <td>1 500 125 120</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row">

    </div>



{% endblock %}