{% extends "base.html.twig" %}

{% block body %}
    {#{{ dump() }}#}
    <div class="container-fluid">
        <div class="row">

            <!-- bloc HighScore -->
            <div class="highScore">
                <div class="col-lg-2 col-lg-offset-1">

                    <table class="table">
                        <div class="row">
                        <thead>
                        <tr>
                            <th colspan="3">HIGHSCORE</th>
                        </tr>
                        <tr>
                            <td class="tdRank col-lg-2">Rank</td>
                            <td class="tdNom col-lg-2">Nom</td>
                            <td class="tdScore col-lg-2">Score</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="tdRank">1</td>
                            <td class="tdNom">zrgzrg</td>
                            <td class="tdScore">9001</td>
                        </tr>
                        <tr>
                            <td class="tdRank">2</td>
                            <td class="tdNom">dghthdht</td>
                            <td class="tdScore">5</td>
                        </tr>
                        <tr>
                            <td class="tdRank">3</td>
                            <td class="tdNom">zzrgzrhg</td>
                            <td class="tdScore">4</td>
                        </tr>
                        </tbody>
                        </div>
                    </table>

                </div>
            </div>
            <!-- Fin bloc HighScore -->

            <!-- bloc newGame -->
            <div class="newGame">
                <div class="col-lg-3 col-lg-offset-2">
                    <form action="{{ path('play') }}" method="post">

                        <h3>Niveau de difficulté</h3>

                        <select name="difficultee">
                            <option value="QuestionEasy">Facile</option>
                            <option value="QuestionMedium">Moyen</option>
                            <option value="QuestionHard">Difficle</option>
                        </select><br>

                        <h4>Catégorie</h4>

                        <select name="Cate">
                            {% for categorie in categories %}
                                {% if loop.index == 1 %}<option value="random">Aléatoire</option>{% endif %}
                                <option value="{{ categorie.name }}">{{ categorie.name }}</option>
                            {% endfor %}
                        </select><br><br>

                        <input class="btn btn-success" name="play" value="Démarrer" type="submit">
                    </form>
                </div>
            </div>
            <!-- Fin bloc newGame -->

            <!-- bloc PersonnalScore -->
            <div class="personnalScore">
                <div class="col-lg-2">

                    <table class="table">
                        <div class="row">
                            <thead>
                            <tr>
                                <th colspan="3">PERSONAL SCORES</th>
                            </tr>
                            <tr>
                                <td class="tdRank col-lg-2">Rank</td>
                                <td class="tdNom col-lg-2">Nom</td>
                                <td class="tdScore col-lg-2">Score</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="tdRank">1</td>
                                <td class="tdNom">zrgzrg</td>
                                <td class="tdScore">9001</td>
                            </tr>
                            <tr>
                                <td class="tdRank">2</td>
                                <td class="tdNom">dghthdht</td>
                                <td class="tdScore">5</td>
                            </tr>
                            <tr>
                                <td class="tdRank">3</td>
                                <td class="tdNom">zzrgzrhg</td>
                                <td class="tdScore">4</td>
                            </tr>
                            </tbody>
                        </div>
                    </table>


                </div>
            </div>
            <!-- Fin bloc PersonnalScore -->
        </div>
    </div>
{% endblock %}