/*base.html.twig*/
.container-fluid {
    margin: 0;
    padding: 0;
}

.navbar {
    border: none;
    border-radius: 0;
}

body {
    font-family: Montserat;
}

h1 {
    color: #745698;
    font-weight: bold;
    text-transform: uppercase;
}

body{
    background-image: url("../images/backgroundslide.jpeg");
    background-repeat: no-repeat;
    background-position: center;
}

.banniere{
    background-color: #745698;
}

.formbanniere{
    padding-top:15px;
    padding-bottom:15px;
}

.tailleBouton {
    padding: 15px;
    height: 65px;
}

.navbar{
    background-color: #000000;
    margin-bottom: 0px;
}

.navbar-default{
    color:#ffffff;
    font-family: Montserat;
    font-size:1.5em;
}

.navbar-default .navbar-nav > li > a{
    padding-top: 35px;
    color:#ffffff;
}

.navbar-text.titre p{
    color:#ffffff;
    font-size: 2em;
}

/*index.html.twig Accueil du site*/

.carousel-caption h2{
    color:#000000;
    font-size: 70px;
    margin-bottom: 150px;
}


.carousel-inner{
    background-color: rgba(0,0,0,0);
}

.table{
    min-width: 400px;
    max-width: 600px;
    margin:auto;
    margin-top:30px;
    margin-bottom:30px;
}

.table th{
    font-size: 2em;
    text-align: center;

}

.table td{
    font-size: 1.5em;
    text-align: center;
}

/*.button.btn.btn-quizz.btn-lg.btn-block {*/
    /*color:white;*/
    /*background-color: #745698;*/
/*}*/

.btn-lg, .btn-group-lg > .btn{
    color:white;
    background-color: #745698;
}


/*formulaire login */

.formLogin {
    margin-top: 50px;
}

.bouton {

}

.marginNom {
    margin-top: 0px;
}

.marginFormLogin {
    margin: 30px auto;
}

